.nsbm-bg {
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}

.login-card-bg {
  background-color: white;
  width: 69%;
  height: 84vh;
  position: fixed;
  top: 8vh;
  left: 16vw;
  border-radius: 10px;
}

.card-heading {
  position: relative;
  left: 31vw;
  top: 5vh;
}

.email-field {
  width: 20vw;
  height: 7vh;
  background-color: grey;
  border-radius: 20px;
}

.input-bg {
  width: 20vw;
  height: 7vh;
  background-color: grey;
  border-radius: 20px;
  background-color: #E6E6E6;
}

.input-field-position {
  position: relative;
  top: 10vh;
  left: 5vw;
}

.email-icon {
  width: 27px;
  position: relative;
  top: 1.5vh;
  left: 1vw;
}

.email-input {
  position: relative;
  top: 2.2vh;
  left: 2vw;
  width: 13rem;
  background-color: #E6E6E6;
  border: none;
  outline: none;
}

.input-bg.password-bg {
  margin-top: 18px;
}

.password-input {
  position: relative;
  top: 1.7vh;
  left: 2vw;
  width: 13rem;
  background-color: #E6E6E6;
  border: none;
  outline: none;
  z-index: 2;
}

.password-icon {
  width: 27px;
  position: relative;
  top: 1.2vh;
  left: 1vw;
}

.btn.btn-primary.login-btn {
  position: relative;
  top: 15vh;
  left: 9vw;
  width: 12vw;
  height: 6vh;
  border-radius: 20px;
  background-color: red;
  border: none;
}

.link-section {
  position: relative;
  top: 16vh;
  left: 9vw;
}

.signup-link {
  position: relative;
  left: 0.5vw;
  outline: none;
}

#user_fname {
  position: relative;
  top: 2.2vh;
  left: 2vw;
  width: 13rem;
  background-color: #E6E6E6;
  border: none;
  outline: none;
}

#user_lname {
  position: relative;
  top: 2.2vh;
  left: 2vw;
  width: 13rem;
  background-color: #E6E6E6;
  border: none;
  outline: none;
}

#user_name {
  position: relative;
  top: 2.2vh;
  left: 2vw;
  width: 13rem;
  background-color: #E6E6E6;
  border: none;
  outline: none;
}

#nsbm_email {
  position: relative;
  top: 2.2vh;
  left: 2vw;
  width: 13rem;
  background-color: #E6E6E6;
  border: none;
  outline: none;
}

.input-lbl {
  position: relative;
  top: 2vh;
}

#dob_input {
  position: relative;
  top: 2.2vh;
  left: 2vw;
  width: 13rem;
  background-color: #E6E6E6;
  border: none;
  outline: none;
}

.radio-contain {
  display: flex;
  width: 16rem;
  position: relative;
  top: 2vh;
}

.dropdown.select-style {
  width: 20vw;
  height: 7vh;
  background-color: grey;
  border-radius: 20px;
  background-color: #E6E6E6;
}

.btn.btn-primary.dropdown-toggle.select-style {
  width: 15vw;
  height: 7vh;
  border-radius: 10px;
  background-color: #E6E6E6;
  border: none;
  color: black;
}

.dropdown-menu.show.width-field {
  width: 100%;
}

.password-section {
  position: relative;
  top: 6vh;
  left: -2vw;
}

.row.position-row1 {
  position: relative;
  left: -3vw;
}

.button-position {
  position: relative;
  left: -8vw;
  top: -3vh;
}

.g-connect-logo {
  width: 6rem;
}

.selection-style {
  width: 13vw;
  height: 6vh;
  border-radius: 10px;
  background-color: #E6E6E6;
  border: none;
  color: black;
}

