.product-carousel .owl-nav .owl-prev::before, 
.product-carousel .owl-nav .owl-next::before,
.product-caro .owl-prev:hover:before, 
.product-caro .owl-next:hover:before,
.log-reg-area form .forgot-pwd,
.log-reg-area form .already-have,
.log-reg-area > p a,
.top-area > ul > li > a > span,
.timeline-info > ul li a.active,
.timeline-info > ul li a:hover,
.dropdowns > a.more-mesg,
.activity-meta > h6 a,
.activity-meta > span a:hover,
.friend-name > ins,
.description > p a,
.we-reply,
.sidebar .widget li:hover > a, .sidebar .widget li:hover > i,
.friend-meta > a,
.user-setting > a:hover,
.we-comet li a.showmore,
.twiter-feed > li p a,
.tutor-links > li i,
.tutor-links > li:hover,
.pepl-info > span,
.page-meta > a,
.frnds .nav-tabs .nav-item a.active,
.f-title i,
#work > div a,
.basics > li i,
.education > li i,
.groups > span i,
a.forgot-pwd,
.friend-meta > h4 a:hover,
.x_title > h2,
.post-meta .detail > span,
.add-btn > a:hover,
.top-area > ul.main-menu > li > ul li a:hover,
.dropdowns.active > a i,
.user-setting > a i,
.form-group input.form-file ~ .control-label, 
.form-group input.has-value ~ .control-label, 
.form-group input:focus ~ .control-label, 
.form-group input:valid ~ .control-label, 
.form-group select ~ .control-label, 
.form-group textarea.form-file ~ .control-label, 
.form-group textarea.has-value ~ .control-label, 
.form-group textarea:focus ~ .control-label, 
.form-group textarea:valid ~ .control-label,
.flaged > h3,
.invition .friend-meta a.invite:hover,
.more-optns > ul li:hover,
.post-title > h4 a:hover,
.post-title .p-date a:hover,
.l-post .l-post-meta > h4 a:hover,
.read:hover,
blockquote,
.tags > a:hover,
.comment-titles > span,
.help-list > ul li a:hover i,
.carrer-title > h2 > span,
.carrer-title > span a,
.open-position > h4 a:hover,
.option-set.icon-style > li > a.selected,
.category-box > i,
.getquot-baner > a,
.branches-box > ul li i,
.help-topic-result > h2 a:hover,
.product-name > h5 a:hover,
.full-postmeta .shopnow,
.prices.style2 ins span,
.single-btn > li > a.active,
.total-box > ul > li.final-total,
.logout-meta > p a,
.forum-list table tbody tr td i,
.forum-list table tbody tr td a,
.widget ul.recent-topics > li > i,
.date-n-reply > a,
.topic-data > span,
.help-list > ul li a:hover,
.employer-info h2,
.job-detail > ul li i,
.company-intro > a

@font-face {
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url('ProductSans-Regular.woff') format('woff');
    }