#logo{
  max-height: 70px;
  padding-bottom: 4px;
}

#search {
  padding-left: 160px;
}

#camera1{
  width: 30px;
  padding-top: 21px;
}

#camera2{
  width: 30px;
  padding-top: 21px;
}

#search-bar{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 254px;
}

.navbar-brand{
  font-family: ABeeZee, sans-serif;
}

.search-bar{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgb(77,78,79);
  padding: 2px 12px;
  padding-left: 12px;
  margin-left: 7px;
  color: rgb(242,239,239);
}

#file{
  display: none;
}

.cover-page{
  background-color: aqua;
  width: 767px;
  height: 290px;
}

.cover-pic{
  position: absolute;
  width: 767px;
  height: 291px;
  left: 567px;
  top: 272px;
}

.cover-choose-pic{
  background-color: rgba(44, 42, 42, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 100px;
  top: 500px;
  left: 1250px;
  width: 50px;
  height: 50px;
  filter: blur(0.7px);
}

.tbody{
  max-height: 20px;
}

.avatar{
  border: 2px solid snow;
  position: absolute;
  top: 530px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
}

.profile-pic{
  background-size: cover;
  border: 2px solid snow;
  position: absolute;
  top: 530px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.pro-pic{
  border: 2px solid snow;
  position: absolute;
  top: 530px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.profile-choose-pic{
  background-color: rgba(255, 255, 255, 0.719);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 100px;
  border: 1px solid rgb(39, 38, 38);
  top: 610px;
  left: 1020px;
  transform: translate(-50px,-50px);
  width: 50px;
  height: 50px;
  filter: blur(0.7px);
}

.contact-clean {
  background: #f1f7fc;
  padding: 80px 0;
  background: #0a0a52;
}

@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

#form{
  max-width: 849px;
}

@media (max-width:767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

#home {
  max-height: 40px;
}

#notification {
  max-height: 40px;
}

#settings {
  max-height: 40px;
}

#dropdown {
  max-height: 40px;
}
/*
.update-btn{
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}
}

.cancel-btn{
  background: linear-gradient(white, rgb(235,235,235) 100%, black 100%),rgb(255,255,255);
  color: rgb(0,0,0);
  border-color: rgb(0,0,0);
}

