.nsbm-bg {
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}

.login-card-bg {
  background-color: white;
  width: 30%;
  height: 63vh;
  position: fixed;
  top: 15vh;
  left: 36vw;
  border-radius: 10px;
}

.card-heading {
}

.email-field {
  width: 20vw;
  height: 7vh;
  background-color: grey;
  border-radius: 20px;
}

.input-bg {
  width: 20vw;
  height: 7vh;
  background-color: grey;
  border-radius: 20px;
  background-color: #E6E6E6;
}

.input-field-position {
  position: relative;
  top: 10vh;
  left: 5vw;
}

.email-icon {
  width: 27px;
  position: relative;
  top: 1.5vh;
  left: 1vw;
}

.email-input {
  position: relative;
  top: 2.2vh;
  left: 2vw;
  width: 13rem;
  background-color: #E6E6E6;
  border: none;
  outline: none;
}

.input-bg.password-bg {
  margin-top: 18px;
}

.password-input {
  position: relative;
  top: 1.7vh;
  left: 2vw;
  width: 13rem;
  background-color: #E6E6E6;
  border: none;
  outline: none;
}

.password-icon {
  width: 27px;
  position: relative;
  top: 1.2vh;
  left: 1vw;
}

.btn.btn-primary.login-btn {
  position: relative;
  top: 15vh;
  left: 9vw;
  width: 12vw;
  height: 6vh;
  border-radius: 20px;
  background-color: #59B546;
  border: none;
}

.link-section {
  position: relative;
  top: 16vh;
  left: 9vw;
}

.signup-link {
  position: relative;
  left: 0.5vw;
  outline: none;
}

