:root {
    --color-primary: #0A0A52 ;
    --color-secondary: #C6C6C6;
    --color-button: #12F71A;
    
    --border-radius: 30px;

    
}


/* Typography */
html {
    font-size: 62.5%;
}

body {
    
    font-family: Inter, Arial, Helvetica, sans-serif ;
    font-size: 2.4rem;
    line-height: 1.5;
    height: 200vh;
}

h1,h2,h3 {
    
    margin-bottom: 1rem;
}


/* Navbar Section */

#nav-color {
    background-color: #C6C6C6;
}

.GConnect_Logo {
    width: 4rem;

}

#site-search {
    display: ;
}

/* User Profile Image Rounding */
.user-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.user-name {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px ;
}

.btn-right{
    width: 2rem;
    height: 2rem;
}

.section-retain {
    background-color: #0A0A52;
    height: 200vh;
}

/* Navbar Layout Position */
.navbar-logo-G {
    position: relative;
    left: -30px;
}

.nav-search-G {
    position: relative;
    left: -45px;
}

.nav-icons-G {
    position: relative;
    left: -20px;

}

.container-flex-right{
    
    width: 100px;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    left: 60px
}

.user-badge {
    position: relative;
    left: 70px;
}


