/* Importing fonts for the inbox section */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


:root {
    --color-primary: #0A0A52 ;
    --color-secondary: #C6C6C6;
    --color-button: #12F71A;
    
    --border-radius: 30px;

    
}

/* Focus Outline Removing  */
*:focus {
    outline: none;
}


/* Typography */
html {
    font-size: 62.5%;
}

body {
    
    font-family: Inter, Arial, Helvetica, sans-serif ;
    font-size: 2.4rem;
    line-height: 1.5;
    height: 200vh;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

h1,h2,h3 {
    
    margin-bottom: 1rem;
}


/* Navbar Section */

#nav-color {
    background-color: #C6C6C6;
    position: fixed;
    display: flex;
    justify-content: stretch;
    width: 100%;
    z-index: 999;
}

.GConnect_Logo {
    width: 6rem;

}



/* User Profile Image Rounding */
.user-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.user-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px ;
}

.btn-right{
    width: 2rem;
    height: 2rem;
}

.section-retain {
    background-color: #0A0A52;
    height: 200vh;
}

/* Navbar Layout Position */

/* .navbar-fix {
    position: fixed;
    left: 50px;
} */


.navbar-logo-G {
    position: relative;
    left: -30px;

}

.nav-search-G {
    position: relative;
    /* left: -200px; */

    top: 15px;
    

}

/* Search Section */
.search-section {
    display: inline-flex;

}

.nav-search-bar {
    width: 200px;
    height: 30px;

}

#search-btn {
    height: 30px;
    width: 40px;
}

.nav-icons-G {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    left: -60px; 
    width: 300px;
    height: 50px;
    top: 5px;

}

/* Nav Left Section */
.nav-left-section {
    display: inline-flex;
    width: 50rem;
    position: relative;
    left: -10px;
}

.container-flex-right{
    
    width: 300px;
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    left: 60px;
    top: 5px;
    

    
}

/* Navbar User Profile Section */
.user-badge {
    position: relative;
    left: 100px;
    display: inline-flex;
    
    
}

#user-name {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    left: 10px;
    top: 10px;
    font-weight: bold;
}

.nav-round-btn-right {
    display: inline-flex;
    position: relative;
    left: 50px;
    width: 200px;
    justify-content: space-between;
    
    
}

.selection-nav-icon {
    width: 4rem;
    height: 4rem;
}

.btn-right-select {
    width: 40px;
    height: 40px;
}

/* Inbox Dropdown Section */
.inbox-section {
    position: relative;
    top: 70px;
    width: 30vw;
    left: 56vw;
    z-index: 1;
}

.card {
    width: 400px;
    border-radius: 10px;
    border: none;

    
}

.top {
    background-color: #eee;
    padding: 10px;
    padding-left: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}

.bottom {
    padding: 10px;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
}

.image-inbox {
    position: relative
}

.image-inbox .type {
    position: absolute;
    left: 49px;
    bottom: 0;
    background: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}

.line-height {
    line-height: 20px
}

.live {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: green;
    margin-left: 1px;
    display: flex;
    margin-right: 5px
}

.l-now {
    font-size: 12px;
    position: relative;
    left: 10px;


}

.dots {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: blue;
    margin-left: 1px;
    display: flex;
    margin-right: 5px
}

/* following class added to correcr the message layouts */
.content-center {
    position: relative;
    left: 10px;
}


/* User Left Card */
.card-left {
    width: 20vw;
    height: 65vh;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: fixed;
    top: 80px;
    left: 20px;

}

.user-profile-left {
    position: relative;
    top: 20px;
    left: 20px;

}

.user-profile-left img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.user-name-left {
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    left: 10px;
}

/* left List Item */

.left-item {
    position: relative;
    top: 40px;
    left: 30px;
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
    
}

.list-item-position  {
    display: inline-flex;
    position: relative;
    left: 10px;
    top: 10px;
}

/* Icons initializing for the ul bullets */
.item-1 {
    list-style-image: url(../img/friends.svg);
    margin-bottom: 10px;

}
.item-2 {
    list-style-image: url(../img/events.svg);
    margin-bottom: 10px;
    
}
.item-3 {
    list-style-image: url(../img/group.svg);
    margin-bottom: 10px;
}
.item-4 {
    list-style-image: url(../img/bookmark-small.svg);
    margin-bottom: 10px;
}
.item-5 {
    list-style-image: url(../img/school.svg);
    margin-bottom: 10px;
}

/* Correct positions of the list */
.item-name-base {
    position: relative;
    left: 10px;
    bottom: 5px;
}

.item-pos {
    position: relative;
    left: 5px;
    
}

/* Thick red border */
.horizontal-thick {
    border: 2px solid black;
    position: relative;
    top: 20px;

  }

  .label-last {
      position: relative;
      top: 50px;
      left: 30px;
  }

  /* User Right Follow Card */
  
  .card-right-follow {
    width: 20vw;
    height: 43vh;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: relative;
    left: 75vw;
    bottom: 50vh;
}

.card-label-follow {
    position: relative;
    top: 20px;
    left: 10px;
}

.right-card-name {
    position: relative;
    left: 50px;
    font-weight: bold;
}

/* Thin black border */
.horizontal-thick-right {
    border: 1px solid black;
    position: relative;
    top: 10px;

  }

  /* Follow Button Section */
  .btn {
      position: relative;
      left: 80px;
      
  }

  .btn-block {
      position: relative;
      top: 20px;
      left: 50px;
      width: 20rem;
  }

  /* Upcoming Events Card Section */



.card-label-upcoming {
    position: relative;
    top: -5px;
    left: 5px;
}

.right-item-upcoming {
    width: 20vw;
    height: 34vh;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: relative;
    left: 75vw;
    bottom: 45vh;

    
}

.right-card-events {
    position: relative;
    left: 40px;
    top: 2px;
    font-weight: bold;
    
}

.right-item-upcoming .btn {
    position: relative;
    left: 50px
}

.horizontal-thick-event {
    border: 2px solid black;
    position: relative;
    top: -5px;
    left: -20px;

}

/* Upcoming Event Name List  */

.event-1 {
    list-style-image: url(../img/events.svg);
    margin-bottom: 20px;

}

.event-2 {
    list-style-image: url(../img/events.svg);
    margin-bottom: 10px;
    position: relative;
    left: 10px;

}

.event-list-item {
    position: relative;
    left: -5px;
}

.event-name-base {
    position: relative;
    left: 10px;
    bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;   
}

.event-item-set .btn {
    position: relative;
    left: 25px;
    top: -5px;

}

.event-item-set-2 {
    position: relative;
    left: 20px;
    top: 15px;
}

.event-item-set-2 .btn {
    position: relative;
    left: 23px;
    top: -5px;

}

.show-more-event {
    position: relative;
    top: -15px;
}

/* What is happening section */
.status-main {
    width: 35vw;
    height: 30vh;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: relative;
    left: 30vw;
    top: 20vh;
    
}

.status-main::after {
    content: '';
    position: absolute;
    width: 395px;
    height: 40px;
    background: #0A0A52 ;
    left: 150px;
    top: -5px;
    border-radius: 5px;
    

}

/* Main Status Section */
.user-profile-status {
    position: relative;
    top: 50px;
    left: 30px;
}

.user-image-status {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.user-greeting-status {
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    left: 20px;
}

.horizontal-thick-status {
    position: relative;
    top: 40px;
    justify-content: stretch;
    left: -25px;
}

#status-input {
    position: absolute;
    left: 60px;
    top: -10px;
    font-size: 2rem;
    width: 400px;
    height: 80px;
    border-style: none; 
}

/* Status Component Bottom Button */

.bottom-btn-section {
    display: inline-flex;
    justify-content: space-between;
    width: 150px;
    position: relative;
    top: 45px;
}

.bottom-btn-post {
    position: relative;
    left: 320px;
    top: 15px;
    

}

.bottom-btn-post .btn {
    width: 90px;
}

.post-user {
    width: 35vw;
    height: 65vh;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: relative;
    left: 30vw;
    top: 30vh;

}

#user-post {
    width: 60px;
    height: 60px;
}

#user-post-name {
    font-size: 1.5rem;
}
#user-post-time {
    position: relative;
    left: 40px;
}

.more-logo {
    display: inline-flex;
    position: relative;
    left: 162px;
    top: 10px;
}

/* Text Area User Text Post */
.text-post-section {
    position: relative;
    left: 70px;
}

#user-text-load {
    border-style: none;
}

#user-post-image {
    position: relative;
    width: 26vw;
    height: 30vh;

    border-radius: 0;
    left: 1px;
    top: -50px;

}

/* Post Bottom Button Set */
.bottom-post-btn {
    display: inline-flex;
    position: relative;
    top: -30px;
    width: 26vw;
    justify-content: space-between;
}













