:root {
    --color-primary: #0A0A52 ;
    --color-secondary: #C6C6C6;
    --color-button: #12F71A;
    
    --border-radius: 30px;

    
}

/* Focus Outline Removing  */
*:focus {
    outline: none;
}


/* Typography */
html {
    font-size: 62.5%;
}

body {
    
    font-family: Inter, Arial, Helvetica, sans-serif ;
    font-size: 2.4rem;
    line-height: 1.5;
    height: 200vh;
}

h1,h2,h3 {
    
    margin-bottom: 1rem;
}


/* Navbar Section */

#nav-color {
    background-color: #C6C6C6;
    position: fixed;
    display: flex;
    justify-content: stretch;
    width: 100%;
    z-index: 999;
}

.GConnect_Logo {
    width: 4rem;

}



/* User Profile Image Rounding */
.user-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.user-name {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px ;
}

.btn-right{
    width: 2rem;
    height: 2rem;
}

.section-retain {
    background-color: #0A0A52;
    height: 200vh;
}

/* Navbar Layout Position */

/* .navbar-fix {
    position: fixed;
    left: 50px;
} */


.navbar-logo-G {
    position: relative;
    left: -30px;
}

.nav-search-G {
    position: relative;
    left: -45px;
}

.nav-icons-G {
    position: relative;
    left: -20px;

}

.container-flex-right{
    
    width: 100px;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    left: 60px
}

.user-badge {
    position: relative;
    left: 70px;
}


/* User Left Card */
.card-left {
    width: 20vw;
    height: 65vh;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: fixed;
    top: 80px;
    left: 20px;

}

.user-profile-left {
    position: relative;
    top: 20px;
    left: 20px;

}

.user-profile-left img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.user-name-left {
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    left: 10px;
}

/* left List Item */

.left-item {
    position: relative;
    top: 40px;
    left: 30px;
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
    
}

.list-item-position  {
    display: inline-flex;
    position: relative;
    left: 10px;
    top: 10px;
}

/* Icons initializing for the ul bullets */
.item-1 {
    list-style-image: url(../img/friends.svg);
    margin-bottom: 10px;

}
.item-2 {
    list-style-image: url(../img/events.svg);
    margin-bottom: 10px;
    
}
.item-3 {
    list-style-image: url(../img/group.svg);
    margin-bottom: 10px;
}
.item-4 {
    list-style-image: url(../img/bookmark-small.svg);
    margin-bottom: 10px;
}
.item-5 {
    list-style-image: url(../img/school.svg);
    margin-bottom: 10px;
}

/* Correct positions of the list */
.item-name-base {
    position: relative;
    left: 10px;
    bottom: 5px;
}

.item-pos {
    position: relative;
    left: 5px;
    
}

/* Thick red border */
.horizontal-thick {
    border: 2px solid black;
    position: relative;
    top: 20px;

  }

  .label-last {
      position: relative;
      top: 50px;
      left: 30px;
  }

  /* User Right Follow Card */
  
  .card-right-follow {
    width: 20vw;
    height: 43vh;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: relative;
    left: 75vw;
    bottom: 50vh;
}

.card-label-follow {
    position: relative;
    top: 20px;
    left: 10px;
}

.right-card-name {
    position: relative;
    left: 50px;
    font-weight: bold;
}

/* Thin black border */
.horizontal-thick-right {
    border: 1px solid black;
    position: relative;
    top: 10px;

  }

  /* Follow Button Section */
  .btn {
      position: relative;
      left: 80px;
      
  }

  .btn-block {
      position: relative;
      top: 20px;
      left: 50px;
      width: 20rem;
  }

  /* Upcoming Events Card Section */



.card-label-upcoming {
    position: relative;
    top: -5px;
    left: 5px;
}

.right-item-upcoming {
    width: 20vw;
    height: 34vh;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: relative;
    left: 75vw;
    bottom: 45vh;

    
}

.right-card-events {
    position: relative;
    left: 40px;
    top: 2px;
    font-weight: bold;
    
}

.right-item-upcoming .btn {
    position: relative;
    left: 50px
}

.horizontal-thick-event {
    border: 2px solid black;
    position: relative;
    top: -5px;
    left: -20px;

}

/* Upcoming Event Name List  */

.event-1 {
    list-style-image: url(../img/events.svg);
    margin-bottom: 20px;

}

.event-2 {
    list-style-image: url(../img/events.svg);
    margin-bottom: 10px;
    position: relative;
    left: 10px;

}

.event-list-item {
    position: relative;
    left: -5px;
}

.event-name-base {
    position: relative;
    left: 10px;
    bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;   
}

.event-item-set .btn {
    position: relative;
    left: 25px;
    top: -5px;

}

.event-item-set-2 {
    position: relative;
    left: 20px;
    top: 15px;
}

.event-item-set-2 .btn {
    position: relative;
    left: 23px;
    top: -5px;

}

.show-more-event {
    position: relative;
    top: -15px;
}

/* What is happening section */
.status-main {
    width: 35vw;
    height: 30vh;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: relative;
    left: 30vw;
    top: 20vh;
    
}

.status-main::after {
    content: '';
    position: absolute;
    width: 395px;
    height: 40px;
    background: #0A0A52 ;
    left: 150px;
    top: -5px;
    border-radius: 5px;
    

}

/* Main Status Section */
.user-profile-status {
    position: relative;
    top: 50px;
    left: 30px;
}

.user-image-status {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.user-greeting-status {
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    left: 20px;
}

.horizontal-thick-status {
    position: relative;
    top: 40px;
    justify-content: stretch;
    left: -25px;
}

#status-input {
    position: absolute;
    left: 60px;
    top: -10px;
    font-size: 2rem;
    width: 400px;
    height: 80px;
    border-style: none; 
}

/* Status Component Bottom Button */

.bottom-btn-section {
    display: inline-flex;
    justify-content: space-between;
    width: 150px;
    position: relative;
    top: 45px;
}

.bottom-btn-post {
    position: relative;
    left: 320px;
    top: 15px;
    

}

.bottom-btn-post .btn {
    width: 90px;
}










