:root {
    --color-primary: #0A0A52 ;
    --color-secondary: #C6C6C6;
    --color-button: #12F71A;
    
    --border-radius: 30px;

    
}


/* Typography */
html {
    font-size: 62.5%;
}

body {
    
    font-family: Inter, Arial, Helvetica, sans-serif ;
    font-size: 2.4rem;
    line-height: 1.5;
    height: 200vh;
}

h1,h2,h3 {
    
    margin-bottom: 1rem;
}


/* Navbar Section */

#nav-color {
    background-color: #C6C6C6;
}

.GConnect_Logo {
    width: 4rem;

}

#site-search {
    display: ;
}

/* User Profile Image Rounding */
.user-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.user-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px ;
}

.btn-right{
    width: 3rem;
    height: 3rem;
}

.section-retain {
    background-color: #0A0A52;
    height: 200vh;
}
